<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VNR Online Judge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/question.css"> 
    <link rel="stylesheet" href="/css/contest.css"> 
    <script>
        var contestStatus = "<%= dataObject.contestStatus %>";
        console.log(contestStatus);
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-sm container-fluid bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="javascript:void(0)">Turing Hut</a>

        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/problems">Problems</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contests">Contests</a>
            </li>
        </ul>
    </nav>
    <div class="margin-class container">
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <a href="/contest/ranks/<%= dataObject._id %>">
                    <button>Contest Ranks</button>
                </a>
            </div>
        </div>
        <% if(dataObject.contestStatus=="running") { %>
        <div class="row">
            <div class="col-8">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Problem Code</th>
                            <th>Difficulty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0;i<dataObject.problems.length;i++) { %>
                        <tr>
                            <td>
                                <a href="<%= dataObject._id %>/problem/<%= dataObject.problems[i]._id %>"><%= dataObject.problems[i]._id %></a>
                            </td>
                            <td>
                                <%= dataObject.problems[i].difficultyLevel %>
                            </td>
                        </tr>
                        <% }%>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <p>Contest Ends in</p>
                <p id="running">

                </p>
            </div>
        </div>
        <% } else if (dataObject.contestStatus=="ended") { %>
        <p>Ended</p>
        <% } else { %>
        <p>Contest Didn't started yet</p>
        <% } %>
    </div>

    <script type="text/javascript">
        var startdate = new Date("<%= dataObject.startdate %>").getTime();
        var enddate = new Date("<%= dataObject.enddate %>").getTime();
        var x = setInterval(function() {
            var now = new Date().getTime();
            <% if(dataObject.contestStatus == "running") { %>
            let timeToEnd = enddate - now;
            var days = Math.floor(timeToEnd / (1000 * 60 * 60 * 24));
            var hours = Math.floor((timeToEnd % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timeToEnd % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeToEnd % (1000 * 60)) / 1000);
            $("#running").html(days + "d " + hours + "h " + minutes + "m " + seconds + "s ");
            <% } else if(dataObject.contestStatus=="notstarted") { %>

            <% } %>
        }, 1000);
    </script>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
