<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/datetimepicker.css">
    <link rel="stylesheet" href="css/createContest.css">
    </head>

<body>
        <nav class="navbar navbar-expand-sm container-fluid bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="javascript:void(0)">Turing Hut</a>

        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="problems">Problems</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contests">Contests</a>
            </li>
        </ul>
    </nav>
    <section class="container margin-class">
        <form action="/createContest" method="post">
            <div class="row">
                <div class="form-group col-6">
                    <label for="contesturl">Contest URL:</label>
                    <input type="text" placeholder="Ex: VNRTS01" class="form-control" name="contesturl" id="contesturl">
                </div>
                <div class="form-group col-6">
                    <label for="contestname">Contest Name:</label>
                    <input type="text" placeholder="VNR Test Contest" class="form-control" name="contestname" id="contestname">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="startdate">Start Date:</label>
                    <input id="startdate">
                </div>
                <div class="form-group col-6">
                    <label for="enddate">End Date:</label>
                    <input id="enddate">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="selectproblems">Select Problems</label>
                    <select class="form-control" id="selectproblems" multiple>
                        <% for(var i=0;i<problems.length;i++) { %>
                        <option value="<%= problems[i]._id %>">
                            <%= problems[i]._id %>
                        </option>
                        <% }%>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="contesttype">Contest Type</label>
                    <select class="form-control" id="contesttype">
                        <option value="fixedtime">Fixed Time</option>
                        <option value="flexibletime">Flexible Time</option>
                    </select>
                    <div id="contestDurationHolder">
                        <label for="contestduration">Duration</label>
                        <select class="form-control" id="contestduration">
                            <% for(i=1;i<7;i++) { %>
                            <option value="<%= i %>">
                                <%= i %> hrs</option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <button type="button" id="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/datetimepicker.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#submit').on('click', function() {
                var formData = {};
                var problems = new Array();
                $('#selectproblems').val().forEach(element => {
                    <% problems.forEach(prob => { %>
                        if(element == "<%= prob._id %>") {
                            var elem = JSON.parse(JSON.stringify(<%- prob %>));
                            problems.push(elem);
                        }
                    <% }) %>
                });
                formData.contestUrl = $('#contesturl').val();
                formData.contestName = $('#contestname').val();
                formData.startdate = $('#startdate').val();
                formData.enddate = $('#enddate').val();
                formData.problems = problems;
                formData.contestType = $('#contesttype').val();
                formData.contestDuration = $('#contestduration').val();
                console.log(formData);
                let url = "/createContest";
                $.ajax({
                    url,
                    method: "PUT",
                    data: JSON.stringify(formData),
                    success: function (data) {
                        console.log(data.message);
                        if (data.status == 200) {
                            window.location = '/myContests';
                        } else if (data.status == 400) {
                            alert(data.message);
                        }
                    }
                });
            });

            $('#contestDurationHolder').hide();
            $('#contesttype').on('change', function() {
                if ($(this).val() == "flexibletime") {
                    $('#contestDurationHolder').show();
                } else {
                    $('#contestDurationHolder').hide();
                }
            });
            $('#startdate').datetimepicker({
                footer: true,
                modal: true,
                format: 'dd mmm yyyy HH:MM',
            });
            $('#enddate').datetimepicker({
                footer: true,
                modal: true,
                format: 'dd mmm yyyy HH:MM',
            });
        });
    </script>
</body>

</html>
